/**
  * Written by Will. Celestin
  */

body{
    width:50%;
    margin: auto;
    overflow-y:scroll;
    text-align: center;
    font-family: sans-serif;
}

.header{
    padding: 5%;
    background-color: #BBDEFB;
}

.content{
    padding: 5%;
    background-color: #E3F2FD;
}

.footer{
    padding-top: 1px;
    background-color: #E3F2FD;
}

#mutual_friends_list{
    list-style: none;
}

li{
    padding: 1%;
}